.App {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  display: flex;
  color: #6da2e1;
  font-size: 123%;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

ul li {
  margin-right: 10px;
  cursor: pointer;
}

ul .active {
  color: #0054b9;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-weight: 500;
}

.gray-block {
  color: #90919d;
}

.container-top {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.container-top-tabs {
  display: flex;
  align-items: center;
}

.container-news-list p {
  text-align: start;
  color: #000;
}

.container-news-list img {
  width: 15px;
  margin-right: 10px;
}

.container-news-list a {
  display: flex;
  align-items: center;
}

.container-news-list div {
  margin-top: 10px;
}

.container-rate-list {
  display: flex;
  margin-top: 10px;
}

.container-rate-list span {
  margin-left: 10px;
}

.currency {
  font-weight: bold;
}

.widjet-title, .service-item, .card-item-title {
  color: #0054b9;
  font-size: 123%;
  font-weight: 500;
  cursor: pointer;
}

.service-item {
  font-size: 100%;
}

.widjet-img {
  width: 100px;
}

.widjet {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.services span {
  margin-left: 10px;
}

.services {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.search-wrapper input {
  display: flex;
  border: 2px solid #fc0;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.search-wrapper button {
  border: none;
  background: #fc0;
  padding: 0 1.125rem;
  font-size: 123.1%;
  cursor: pointer;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0 54%, 0% 0%);
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-wrapper-block {
  width: 100%;
  margin-top: 33px;
}

.search-wrapper-block-elems {
  display: flex;
  height: 35px;
  width: 100%;
}

.search-wrapper-description {
  margin-top: 10px;
  text-align: initial;
}

.banner {
  text-align: initial;
  width: 90%;
  margin-left: 140px;
}

.banner img {
  height: 200px;
  width: 100%;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 22%;
}

.card-item-temperature {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-item-temperature span {
  font-weight: 500;
}

.card-item-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.average-temperature {
  font-size: xx-large;
}
